<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTRPF_CLI_UI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TTRPF_CLI_UI.My.MySettings>
            <setting name="TemplateLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CLIInstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_Background" serializeAs="String">
                <value>images-background2md.txt</value>
            </setting>
            <setting name="Setting_Monster" serializeAs="String">
                <value>monster2md-yamlStatblock-body.txt</value>
            </setting>
            <setting name="Setting_Item" serializeAs="String">
                <value>images-item2md.txt</value>
            </setting>
            <setting name="Setting_Race" serializeAs="String">
                <value>images-race2md.txt</value>
            </setting>
            <setting name="Setting_Spell" serializeAs="String">
                <value>images-spell2md.txt</value>
            </setting>
            <setting name="Setting_Compendium" serializeAs="String">
                <value>/3-Mechanics/CLI</value>
            </setting>
            <setting name="Setting_Rules" serializeAs="String">
                <value>/3-Mechanics/CLI</value>
            </setting>
            <setting name="Setting_From" serializeAs="String">
                <value>MM</value>
            </setting>
            <setting name="Setting_Adventure" serializeAs="String">
                <value>LMoP</value>
            </setting>
            <setting name="Setting_Book" serializeAs="String">
                <value>PHB,
DMG</value>
            </setting>
            <setting name="Setting_JSON" serializeAs="String">
                <value>My.Config.File.json</value>
            </setting>
            <setting name="Setting_Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_DataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_RelativeTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_ImageFolder" serializeAs="String">
                <value />
            </setting>
        </TTRPF_CLI_UI.My.MySettings>
    </userSettings>
</configuration>
